[submodule "/Users/mogra/dotfiles/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = /Users/mogra/dotfiles/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
